* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* ------------------------------ */

form {
    border-radius: 5px;
}

form h1 {
    color: black;
    font-weight: 500;
    text-align: center;
}

.form {
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(133, 133, 133);
}

.form input[type="text"],
.form input[type="password"] {
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 5px;
    width: 200px;
    outline: none;
    border-radius: 5px;
}

.form input[type="submit"] {
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: hsl(0, 1%, 37%);
}