*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(206, 206, 205);
    font-family: arial,helvetica,sans-serif;
}
/*CSS Datos Personales*/

.container{
   text-align: center;
}.container-datos{
	display: inline-block;
}
.container-datos .fieldset{
	display: inline-block;
	background: #fff;
}legend{
    color: blue;
	font-size: 130%;
}.fieldset table tr td{
	padding: 3%;
	width: 30%;
	font-size:100%;
}

/*CSS QR*/

.container-qr{
    text-align: center;
    margin-top: 3%;
}.container-qr .title{
	font-size: 100%;
    color: blue;
   
}.container-qr img{
	margin-top: 2%;
    width: 10%;
}.container-links{
	display: inline-block;
}

.container-qr .container-links input{
    width: 100%;
    height: 5%;
    
}


/* CSS TABLAS */

p{
    color: rgb(36, 0, 196);
    padding: 1%;
}.page-container {
    width: 100%;   
}.table-cebra {
    border-left: solid 1px #ccc;
    border-spacing: 0; 
  
}.table-cebra thead tr {
    color: #000;
   
}.table-cebra th,
.table-cebra td {
    border-right: 1px solid #ccc;
    min-width: 150px;
    padding: .3%;
    
}.table-cebra td{
    text-align: center; 
}.table-cebra th :last-child,
.table-cebra td :last-child {
    border-right: 0;
}.table-cebra tr:nth-child(even) {
    background-color: #ddd;
}.table-cebra tr:hover td {
    background-color: rgb(190, 190, 190);
}.table-cebra tbody td {
    border-bottom: 1px solid #ccc;
}.table-container {
    overflow: auto;
    height: 80px;
    position: relative;
}.table-cebra .stiky {
    position: sticky;
    top: 0;
}.table-cebra thead tr .stiky {
    background: rgb(150, 139, 139);
    color: #000;
    border-bottom: 1px solid black;
}.container{
    padding-top: 30px;
}.container-div{
    height:130px;
}
.green{
    background: rgb(121, 207, 121);
    padding: 3%;
    border-radius: 15%;
    width: 70%;
    height: 70%;
}
.red{
    background: rgb(201, 116, 116);
    padding: 3%;
    border-radius: 15%;
    width: 70%;
    height: 70%;
}
.blue{
    background: rgb(147, 147, 211);
    padding: .3%;
    width: 20%;
    font-size: 87%;
    
}

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}