*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(206, 206, 205);
    font-family: arial,helvetica,sans-serif;
}
/*CSS Datos Personales*/

.container{
   text-align: center;
}.container-datos{
	display: inline-block;
}
.container-datos .fieldset{
	display: inline-block;
	background: #fff;
}legend{
    color: blue;
	font-size: 130%;
}.fieldset table tr td{
	width: 200px;
	font-size:100%;
}

/*CSS QR*/
img{
    width: 30%;
}


.title p {
    color: rgb(34, 4, 165);
    font-size: 120%;
    display: inline-block;
    margin: 1%;
}
.table-container {
    border: 1px solid #ccc;
    overflow: auto;
    height: 400px;
    position: relative;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}
.table .stiky {
    position: sticky;
}
.table thead tr .stiky {
    background: rgb(150, 139, 139);
    color: #000;
    border: 1px solid black;
}
.table th,
.table td {
    font-size: 100%;
    text-align: center;
    border-right: 1px solid #ccc;
    min-width: 150px;
    padding: .2%;
    height: 35px;
   
}

.table tbody th:hover {
    background-color: rgba(83, 81, 81, 0.3);
}

.table tr:nth-child(even) {
    background-color: #ddd;
}

.table tr:hover td {
    background-color: rgb(190, 190, 190);
}

