*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}body{
    background-color: rgb(179, 179, 179);
    font-family: arial,helvetica,sans-serif;
}.contenedor{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}.container{
    margin-top: 8%;
}.container-navegador{
    width: 200px;
}
.titulos{
    color: blue;
    text-align:"center";
}.container-navegador .container-links{
    text-align: center;
    padding: 5px;
}.container-navegador input{
    width: 190px;
    height: 30px;
}.container-navegador input:hover{
    background-color: rgb(207, 215, 218);
}


.container-buscador{
    padding: 5px;
    width: 190px;
}.container-buscador .container-inputs .container-inputs-label{
    color: rgb(20, 20, 20);
    display: block;
    padding: 5px;
}.container-buscador .container-inputs #navegador{
    width: 190px;
    height: 30px;
}.container-buscador .container-inputs input{
    width: 190px;
    height: 30px;
}
