* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-left: 8%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ccc;
}

.container {
    width: 40%;
    position: fixed;
    top: 30%;
    left: 30%;
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    background: rgb(168, 168, 168);
}

.title {
    font-size: 150%;
    font-weight: 100;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

fieldset {
    margin-bottom: 1%;
}

form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 5px 0;
}

.user-details .input-box {
    padding: 1%;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    width: 170%;
    font-weight: 500;
    margin-bottom: 5%;
    display: block;
    font-style: oblique;
}

.user-details .input-box input {
    height: 50%;
    width: 150%;
    outline: none;
    font-size: 80%;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: rgb(112, 112, 112);
}

.input-box-domicilio {
    padding: 1%;
}

.input-box-domicilio select {
    width: 70%;
}

.user-details .observacion-box {
    padding: 1%;
    width: 100%;
}

.user-details .observacion-box textarea {
    width: 100%;
    padding: 1%;
}

@media (max-width: 584px) {
    body {
        margin-left: 0%;
    }
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
}


