*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}body{
    background-color: rgb(179, 179, 179);
    font-family: arial,helvetica,sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    margin-top: 5%;
   
}


.container-navegador{
    width: 100%;
}
.titulos{
    color: blue;
    text-align:"center";
}.container-navegador .container-links{
    text-align: center;
    padding: 1%;
   
}.container-navegador input{
    width: 100%;
    height: 24px;
}.container-navegador input:hover{
    background-color: rgb(207, 215, 218);
}

.container-inputs-label{
    font-weight: bold;
    font-size: 70%;
}



.container-buscador{
    width: 100%;;
}.container-buscador .container-inputs .container-inputs-label{
    color: rgb(20, 20, 20);
    display: block;
    padding: 5px;
}.container-buscador .container-inputs #navegador{
    width: 100%;
    height: 24px;
}.container-buscador .container-inputs input{
    width: 100%;
    height: 24px;
}

